@import "_helpers";
@import "_header";
@import "_main";
@import 'pages/list';
@import "pages/about";
@import "pages/list";

*,
*::before,
*::after,
body, html {
  font-family: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
