<% var data = {
    title: "О фонде",
    author: "Xannotas"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="about">
  <div class="about-sidebar">
    <div id="aboutTocDest"></div>
  </div>

  <!--
    При добавлении новых блоков, нужно указывать правельный id
    Его можно увидеть в url наведя на ссылку соответствующего пункта в боковой панели
  -->

  <div class="about-content" id="aboutTocSrc">
    <div class="about-content-block">
      <p class="about-content-block__title">
        Прими участие в создании информационной и промышленной альтернативы!
      </p>
      <div class="about-content-block__content">
        <p>
          Можно сказать, мы хотим стать одновременно и аналогом и антиподом таким транснациональным корпорациям как
          Google и Apple. Наша финансовая модель основана на краудфандинге, а решения будут приниматься с помощью
          продвинутых инструментов электронной демократии.
        </p>
        <p>
          Можно сказать, мы хотим стать одновременно и аналогом и антиподом таким транснациональным корпорациям как
          Google и Apple. Наша финансовая модель основана на краудфандинге, а решения будут приниматься с помощью
          продвинутых инструментов электронной демократии.
        </p>
        <p>
          Можно сказать, мы хотим стать одновременно и аналогом и антиподом таким транснациональным корпорациям как
          Google и Apple. Наша финансовая модель основана на краудфандинге, а решения будут приниматься с помощью
          продвинутых инструментов электронной демократии.
        </p>
        <p>
          <b>
            <span class="accent--green">Сейчас мы делаем MVP.</span> По сути это будет каталог пранируемых проектов.
            Первое время на страницах проектов будет только блок обсуждения и описание с требованиями. Далее будут
            наращиваться остальные функции. Сделав MVP, мы создадим платформу для обсуждения и систематизации "хотелок"
            для Open Source проектов
          </b>
        </p>
      </div>
    </div>

    <div class="about-content-block about-content-block--grid4">
      <div class="about-content-block about-content-block--item">
        <p class="about-content-block__title">
          Информационные Каналы
        </p>
        <div class="about-content-block__content">
          <a href="#">Telegram канал</a>
          <a href="#">VK страница</a>
          <a href="#">YouTube канал</a>
        </div>
      </div>

      <div class="about-content-block about-content-block--item">
        <p class="about-content-block__title">
          Инструменты совместной работы
        </p>
        <div class="about-content-block__content">
          <a href="#">Задачи Trello </a>
          <a href="#">Дизайн Figma</a>
          <a href="#">Код GitLab</a>
        </div>
      </div>

      <div class="about-content-block about-content-block--item">
        <p class="about-content-block__title">
          Контакты
        </p>
        <div class="about-content-block__content">
          <a href="#">Telegram Основателя</a>
          <a href="#">VK Основателя</a>
          <a href="#">E-mail</a>
        </div>
      </div>

      <div class="about-content-block about-content-block--item">
        <p class="about-content-block__title">
          Общение
        </p>
        <div class="about-content-block__content">
          <a href="#">Telegram чат</a>
          <a href="#">Discord Конференция</a>
        </div>
      </div>
    </div>

    <div class="about-content-block" id='rannyaya-istoriya'>
      <h2 class="about-content-block__title">
        Ранняя история
      </h2>
      <div class="about-content-block__content">
        <p>
          В 1991 году во время обучения в Хельсинкском университете Линус Торвальдс заинтересовался операционными
          системами[19] и был разочарован лицензией MINIX, которая ограничивала её использование только образовательными
          целями (что исключало любое коммерческое использование), вследствие чего начал работать над своей собственной
          операционной системой, которая в итоге стала Linux.
        </p>
        <p>
          Торвальдс начал разработку ядра Linux на MINIX, и перенёс на него ряд приложений. Позже, когда Linux достиг
          определённой зрелости, появилась возможность продолжать разработку уже на базе самого Linux[20]. Приложения
          GNU вскоре заменили приложения MINIX, так как код GNU, находящийся в свободном доступе, был более удобен для
          применения в молодой операционной системе (исходный код под лицензией GNU GPL может быть использован в других
          проектах, если они также выпускаются под той же или совместимой лицензией, для того чтобы сделать Linux
          доступным для коммерческого использования, Торвальдс начал переходить от своей первоначальной лицензии на GNU
          GPL)[21]. Разработчики работали над полной интеграцией компонентов GNU с Linux с целью создания
          полнофункциональной и свободной операционной системы (Linux).
        </p>
      </div>
    </div>

    <div class="about-content-block" id='model'>
      <h2 class="about-content-block__title">
        Модель
      </h2>
      <div class="about-content-block__content">
        <p>
          В 1991 году во время обучения в Хельсинкском университете Линус Торвальдс заинтересовался операционными
          системами[19] и был разочарован лицензией MINIX, которая ограничивала её использование только образовательными
          целями (что исключало любое коммерческое использование), вследствие чего начал работать над своей собственной
          операционной системой, которая в итоге стала Linux.
        </p>
        <p>
          Торвальдс начал разработку ядра Linux на MINIX, и перенёс на него ряд приложений. Позже, когда Linux достиг
          определённой зрелости, появилась возможность продолжать разработку уже на базе самого Linux[20]. Приложения
          GNU вскоре заменили приложения MINIX, так как код GNU, находящийся в свободном доступе, был более удобен для
          применения в молодой операционной системе (исходный код под лицензией GNU GPL может быть использован в других
          проектах, если они также выпускаются под той же или совместимой лицензией, для того чтобы сделать Linux
          доступным для коммерческого использования, Торвальдс начал переходить от своей первоначальной лицензии на GNU
          GPL)[21]. Разработчики работали над полной интеграцией компонентов GNU с Linux с целью создания
          полнофункциональной и свободной операционной системы (Linux).
        </p>
      </div>
    </div>

    <div class="about-content-block" id='interfejs-polzovatelya'>
      <h3 class="about-content-block__title">
        Интерфейс пользователя
      </h3>
      <div class="about-content-block__content">
        <p>
          В 1991 году во время обучения в Хельсинкском университете Линус Торвальдс заинтересовался операционными
          системами[19] и был разочарован лицензией MINIX, которая ограничивала её использование только образовательными
          целями (что исключало любое коммерческое использование), вследствие чего начал работать над своей собственной
          операционной системой, которая в итоге стала Linux.
        </p>
        <p>
          Торвальдс начал разработку ядра Linux на MINIX, и перенёс на него ряд приложений. Позже, когда Linux достиг
          определённой зрелости, появилась возможность продолжать разработку уже на базе самого Linux[20]. Приложения
          GNU вскоре заменили приложения MINIX, так как код GNU, находящийся в свободном доступе, был более удобен для
          применения в молодой операционной системе (исходный код под лицензией GNU GPL может быть использован в других
          проектах, если они также выпускаются под той же или совместимой лицензией, для того чтобы сделать Linux
          доступным для коммерческого использования, Торвальдс начал переходить от своей первоначальной лицензии на GNU
          GPL)[21]. Разработчики работали над полной интеграцией компонентов GNU с Linux с целью создания
          полнофункциональной и свободной операционной системы (Linux).
        </p>
      </div>
    </div>

    <div class="about-content-block" id="programmirovanie-v-linux">
      <h2 class="about-content-block__title">
        Программирование в Linux
      </h2>
      <div class="about-content-block__content">
        <p>
          В 1991 году во время обучения в Хельсинкском университете Линус Торвальдс заинтересовался операционными
          системами[19] и был разочарован лицензией MINIX, которая ограничивала её использование только образовательными
          целями (что исключало любое коммерческое использование), вследствие чего начал работать над своей собственной
          операционной системой, которая в итоге стала Linux.
        </p>
        <p>
          Торвальдс начал разработку ядра Linux на MINIX, и перенёс на него ряд приложений. Позже, когда Linux достиг
          определённой зрелости, появилась возможность продолжать разработку уже на базе самого Linux[20]. Приложения
          GNU вскоре заменили приложения MINIX, так как код GNU, находящийся в свободном доступе, был более удобен для
          применения в молодой операционной системе (исходный код под лицензией GNU GPL может быть использован в других
          проектах, если они также выпускаются под той же или совместимой лицензией, для того чтобы сделать Linux
          доступным для коммерческого использования, Торвальдс начал переходить от своей первоначальной лицензии на GNU
          GPL)[21]. Разработчики работали над полной интеграцией компонентов GNU с Linux с целью создания
          полнофункциональной и свободной операционной системы (Linux).
        </p>
      </div>
    </div>

  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
